
.icon-cog:before { content: '\e800'; } /* '' */
.icon-code:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-attach:before { content: '\e804'; } /* '' */
.icon-lock-filled:before { content: '\e805'; } /* '' */
.icon-lock-open-filled:before { content: '\e806'; } /* '' */
.icon-camera-1:before { content: '\e807'; } /* '' */
.icon-pin:before { content: '\e808'; } /* '' */
.icon-calendar-inv:before { content: '\e809'; } /* '' */
.icon-quote-right-alt:before { content: '\e80a'; } /* '' */
.icon-quote-left-alt:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-aperture:before { content: '\e80d'; } /* '' */
.icon-left-open:before { content: '\e80e'; } /* '' */
.icon-at:before { content: '\e80f'; } /* '' */
.icon-vector-pencil:before { content: '\e810'; } /* '' */
.icon-art-gallery:before { content: '\e811'; } /* '' */
.icon-paypal:before { content: '\e812'; } /* '' */
.icon-itunes:before { content: '\e813'; } /* '' */
.icon-search:before { content: '\e814'; } /* '' */
.icon-clock:before { content: '\e815'; } /* '' */
.icon-down-dir:before { content: '\e816'; } /* '' */
.icon-up-dir:before { content: '\e817'; } /* '' */
.icon-wrench:before { content: '\e818'; } /* '' */
.icon-location:before { content: '\e819'; } /* '' */
.icon-home:before { content: '\e81b'; } /* '' */
.icon-star:before { content: '\e81c'; } /* '' */
.icon-eye-1:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-archive:before { content: '\e81f'; } /* '' */
.icon-box-1:before { content: '\e820'; } /* '' */
.icon-upload-cloud:before { content: '\e824'; } /* '' */
.icon-attention:before { content: '\e82b'; } /* '' */
.icon-left-open-big:before { content: '\e82e'; } /* '' */
.icon-right-open-big:before { content: '\e82f'; } /* '' */
.icon-twitter:before { content: '\e833'; } /* '' */
.icon-award:before { content: '\e835'; } /* '' */
.icon-chat-2:before { content: '\e836'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */